.container {
    margin: auto;
    margin-top: 5em;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 320px;
    width: 320px;
    border: 2px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

button {
    margin: 5px;
}

.pressedButton {
    background-color:aquamarine;
}